# 100 pandas puzzles

Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here are 100* short puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power.

Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating, cleaning), making use of the core DataFrame and Series objects. 

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy... don't go using pure Python or Cython!). Choosing the right methods and following best practices is the underlying goal.

The exercises are loosely divided in sections. Each section has a difficulty rating; these ratings are subjective, of course, but should be a seen as a rough guide as to how inventive the required solution is.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Enjoy the puzzles!

\* *the list of exercises is not yet complete! Pull requests or suggestions for additional exercises, corrections and improvements are welcomed.*

## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy* 

**1.** Import pandas under the name `pd`.

In [2]:
import pandas as pd

**2.** Print the version of pandas that has been imported.

In [3]:
print(pd.__version__)

0.20.3

**3.** Print out all the version information of the libraries that are required by the pandas library.

In [4]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.2.final.0
python-bits: 64
OS: Darwin
OS-release: 16.6.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: en_US.UTF-8
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.20.3
pytest: None
pip: 9.0.1
setuptools: 36.5.0
Cython: 0.25.2
numpy: 1.13.3
scipy: 0.19.1
xarray: None
IPython: 6.2.0
sphinx: None
patsy: 0.4.1
dateutil: 2.6.1
pytz: 2017.2
blosc: None
bottleneck: None
tables: None
numexpr: 2.6.2
feather: None
matplotlib: 2.0.2
openpyxl: 2.4.8
xlrd: None
xlwt: None
xlsxwriter: None
lxml: None
bs4: 4.6.0
html5lib: 0.9999999
sqlalchemy: None
pymysql: None
psycopg2: None
jinja2: 2.9.6
s3fs: None
pandas_gbq: None
pandas_datareader: None
None

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [5]:
import numpy as np
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']},
                  index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(df)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  2.0    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

**5.** Display a summary of the basic information about this DataFrame and its data.

In [6]:
from pprint import pprint
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

**6.** Return the first 3 rows of the DataFrame `df`.

In [7]:
print(df[:3])
print('-'*20)
print(df.iloc[:3])

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
--------------------
   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [8]:
print(df[['animal','age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [9]:
ix = df.index[[3,4,8]]
print( ix )
print('-'*20)
print(df.loc[ix][['animal','age']])

Index(['d', 'e', 'i'], dtype='object')
--------------------
  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

**9.** Select only the rows where the number of visits is greater than 3.

In [10]:
print(df.columns)
print("-"*20)
print(df[df['visits']>3])

Index(['age', 'animal', 'priority', 'visits'], dtype='object')
--------------------
Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

**10.** Select the rows where the age is missing, i.e. is `NaN`.

In [11]:
print(df[pd.isnull(df['age'])])

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [12]:
print(df[np.logical_and(df['animal']=='cat',df['age']<3)])

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [13]:
print(df[np.logical_and(df['age']>=2,df['age']<=4)])

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

**13.** Change the age in row 'f' to 1.5.

In [14]:
df.loc['f','age']=1.5
print(df)

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

**14.** Calculate the sum of all visits (the total number of visits).

In [15]:
df['visits'].sum()

19

**15.** Calculate the mean age for each different animal in `df`.

In [16]:
df['age'].mean()

3.375

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [17]:
new_df = pd.DataFrame({'age':10,'animal':'snake','priority':'yes','visits':2},index=['k'])
print(new_df)

   age animal priority  visits
k   10  snake      yes       2

In [18]:
df = df.append(new_df)
print(df)

    age animal priority  visits
a   2.5    cat      yes       1
b   3.0    cat      yes       3
c   0.5  snake       no       2
d   NaN    dog      yes       3
e   5.0    dog       no       2
f   1.5    cat       no       3
g   4.5  snake       no       1
h   NaN    cat      yes       1
i   7.0    dog       no       2
j   3.0    dog       no       1
k  10.0  snake      yes       2

In [19]:
df.drop('k')

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2
d  NaN    dog      yes       3
e  5.0    dog       no       2
f  1.5    cat       no       3
g  4.5  snake       no       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
j  3.0    dog       no       1

**17.** Count the number of each type of animal in `df`.

In [20]:
print(len(df['animal'].unique()))

3

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visit' column in *ascending* order.

In [21]:
#pprint(dir(df))
#help(df.sort_values)
#df.sort_values(by='age',ascending=False)

# Apply sorts in reverse order
df.sort_values(by='visits',ascending=True).sort_values(by='age',ascending=False)

    age animal priority  visits
k  10.0  snake      yes       2
i   7.0    dog       no       2
e   5.0    dog       no       2
g   4.5  snake       no       1
j   3.0    dog       no       1
b   3.0    cat      yes       3
a   2.5    cat      yes       1
f   1.5    cat       no       3
c   0.5  snake       no       2
h   NaN    cat      yes       1
d   NaN    dog      yes       3

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [22]:
#print(df.loc[:,'priority'])
#df['priority'].apply(lambda x : True if x=="yes" else False)

# Make sure you only execute this ONCE, 
# otherwise it will set the whole column to False
df.loc[:,'priority'] = df['priority'].apply(lambda x : True if x=="yes" else False)

In [23]:
print(df)

    age animal  priority  visits
a   2.5    cat      True       1
b   3.0    cat      True       3
c   0.5  snake     False       2
d   NaN    dog      True       3
e   5.0    dog     False       2
f   1.5    cat     False       3
g   4.5  snake     False       1
h   NaN    cat      True       1
i   7.0    dog     False       2
j   3.0    dog     False       1
k  10.0  snake      True       2

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [24]:
df.loc[:,'animal'] = df['animal'].apply(lambda x : 'python' if x=='snake' else x)
print(df)

    age  animal  priority  visits
a   2.5     cat      True       1
b   3.0     cat      True       3
c   0.5  python     False       2
d   NaN     dog      True       3
e   5.0     dog     False       2
f   1.5     cat     False       3
g   4.5  python     False       1
h   NaN     cat      True       1
i   7.0     dog     False       2
j   3.0     dog     False       1
k  10.0  python      True       2

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).

In [25]:
#pprint(dir(df))
#help(df.pivot_table)

df.pivot_table(index='animal',columns='visits',values='age')

visits    1     2     3
animal
cat     2.5   NaN  2.25
dog     3.0  6.00   NaN
python  4.5  5.25   NaN

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:

In [26]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
print(df)

    A
0   1
1   2
2   2
3   3
4   4
5   5
6   5
7   5
8   6
9   7
10  7

How do you filter out rows which contain the same integer as the row immediately above?

In [27]:
# To find values where the row contains the same integer as the previous row:
#df.shift(-1)==df

# To invert:
#~(df.shift(-1)==df)

# Now index df at the inversion, and drop the NaNs
print(df[~(df.shift(-1)==df)].dropna())

      A
0   1.0
2   2.0
3   3.0
4   4.0
7   5.0
8   6.0
10  7.0

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [28]:
df = pd.DataFrame(np.random.random(size=(5,3)))
print(df)

          0         1         2
0  0.663581  0.827514  0.638193
1  0.596472  0.330768  0.793670
2  0.279231  0.874498  0.568683
3  0.444967  0.294234  0.780173
4  0.844076  0.372809  0.421160

In [29]:
# To get the row mean for each row:
print(df.apply(np.mean, axis=0))

0    0.565665
1    0.539964
2    0.640376
dtype: float64

In [30]:
# To subtract the row mean from each row:
print(df.loc[:,:] - df.apply(np.mean, axis=0))

          0         1         2
0  0.097916  0.287550 -0.002183
1  0.030806 -0.209197  0.153294
2 -0.286435  0.334534 -0.071693
3 -0.120698 -0.245731  0.139798
4  0.278410 -0.167156 -0.219215

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [31]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
print(df)

          a         b         c         d         e         f         g  \
0  0.438176  0.440876  0.676619  0.436450  0.469477  0.207515  0.927520
1  0.560397  0.940746  0.180844  0.024313  0.615863  0.101321  0.015493
2  0.177891  0.431841  0.910844  0.409573  0.439287  0.878689  0.523179
3  0.766044  0.706053  0.945066  0.307780  0.233617  0.413345  0.426953
4  0.795041  0.122453  0.821440  0.856452  0.432607  0.524623  0.211510

          h         i         j
0  0.272806  0.783715  0.463632
1  0.180691  0.708298  0.743589
2  0.862423  0.327555  0.576179
3  0.717197  0.160102  0.465763
4  0.329169  0.126817  0.536995

In [32]:
# Get the sum of each column
sumcols = df.apply(np.sum, axis=1)

# Get the minimum sum of each column
minval = sumcols.min()

# Inde and value of minimum of column sums
#print(sumcols[sumcols==minval])

# Index only
sumcols[sumcols==minval].index

# Get the index as a plain integer
print(sumcols[sumcols==minval].index.values[0])

1

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

In [33]:
#pprint(dir(df))
#help(df.drop_duplicates)
print(df.shape[1] - df.drop_duplicates().shape[1])

0

The next three puzzles are slightly harder...

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels.)

In [34]:
df = pd.DataFrame(np.random.random(size=(3, 10)), columns=list('abcdefghij'))

df.loc[0,['b','c','e','g','h']] = np.nan
df.loc[1,['a','c','f','h','i']] = np.nan
df.loc[2,['a','b','d','e','f']] = np.nan

print(df)

          a         b        c         d         e         f         g  \
0  0.406301       NaN      NaN  0.118201       NaN  0.460164       NaN
1       NaN  0.439814      NaN  0.154051  0.647109       NaN  0.334328
2       NaN       NaN  0.31512       NaN       NaN       NaN  0.933868

          h         i         j
0       NaN  0.450865  0.060250
1       NaN       NaN  0.406652
2  0.572771  0.826178  0.293170

In [35]:
#pprint(dir(df))

## Get an array of booleans
#print(df.isnull())

# Convert each row of booleans into a row of indices where True,
# then get the index of True values, 
# then print the second item in the index.
for irow,row in df.isnull().iterrows():
    try:
        print("Row %d: third NaN is in column %s"%( irow, row[row==True].index[2] ))
    except IndexError:
        print("One row of data frame does not have a third NaN.")

Row 0: third NaN is in column e
Row 1: third NaN is in column f
Row 2: third NaN is in column d

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [36]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

gb = df.groupby('grps')

group_dict = gb.groups

## Iterating through a dictionary only yields keys
## Iterate through each group's values, and print the last (greatest) 3 items
#for g in group_dict:
#    print(np.unique(group_dict[g].values)[-3:])

# Iterate through each group's values, and sum the last (greatest) 3 items (unique)
for g in group_dict:
    print("Sum for group %s: %d"%( g, np.sum(np.unique(group_dict[g].values)[-3:])) )

Sum for group a: 15
Sum for group b: 33
Sum for group c: 35

**28.** A DataFrame has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

In [37]:
#help(np.random.randint)
#print(np.random.randint(1,20,size=(100,)))
df = pd.DataFrame(np.random.randint(1,100,size=(500,2)),columns=['A','B'])
print(df[:5])

    A   B
0  91   6
1  88  44
2  49  37
3   5  81
4  85  96

In [38]:
## To do this task, we should use the Interval class
#help(pd.Interval)
all_intervals = []
for i in range(10):
    lo = i*10
    hi = lo + 10
    inter = pd.Interval(lo,hi)
    all_intervals.append(inter)

# Then again, maybe not...

# This is easier & more straightforward,
# but using for loops is "cheating" I guess
for i in range(10):
    lo = i*10
    hi = lo + 10
    sumval = df.loc[(df.A>lo) & (df.A<=hi),'B'].sum()
    print("Sum for interval (%d, %d] = %d"%( lo, hi, sumval ))

# Remember to keep it simple.

Sum for interval (0, 10] = 2463
Sum for interval (10, 20] = 2692
Sum for interval (20, 30] = 2161
Sum for interval (30, 40] = 2197
Sum for interval (40, 50] = 2993
Sum for interval (50, 60] = 2143
Sum for interval (60, 70] = 2496
Sum for interval (70, 80] = 2922
Sum for interval (80, 90] = 2088
Sum for interval (90, 100] = 2199

## DataFrames: harder problems 

### These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: *hard*

**29.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be `[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]`. Make this a new column 'Y'.

In [131]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
#print(df.X.index)

zero_locs = df.X[(df.X==0)].index
#print(zero_locs)

# To apply a function to an index, use map(), not apply()
# Use a list comprehension to get all possible indices
# (and strip out negative numbers in the process)
#print( df.index.map( lambda i : [i+1]+[i-z for z in zero_locs if (i-z)>=0] ))

# Apply min function
#print( df.index.map( lambda i : [i+1]+[i-z for z in zero_locs if (i-z)>=0] ).map(np.min))

# Assign it to a new column
df['Y'] = df.index.map( lambda i : [i+1]+[i-z for z in zero_locs if (i-z)>=0] ).map(np.min)
print(df)

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

**30.** Consider a DataFrame containing rows and columns of purely numerical data. Create a list of the row-column index locations of the 3 largest values.

In [143]:
df = pd.DataFrame(np.random.randn(10,6),columns=list("abcdef"))
print(df)

          a         b         c         d         e         f
0 -0.390432  0.479664 -0.613592 -0.124793  0.793137 -0.947487
1  0.029790 -0.555881 -2.417527  0.073309  0.245567 -1.512589
2  0.920276  0.913649  0.290699  1.355931 -0.463529 -1.324334
3 -0.514203 -0.128373  0.004574 -0.148277  1.259383 -1.239089
4  1.701516  2.185653 -1.614371 -0.765970  1.282820  1.214437
5  1.296147 -1.189917 -1.146031  0.177073  0.706645 -0.978162
6 -1.879656  0.996959 -0.806205 -1.282014 -0.444412  0.708296
7  0.260387 -0.338206  1.072931 -1.045543 -0.499942  0.334060
8 -0.026745  0.275819  1.873668 -1.397946  0.645728  0.643815
9  1.774328  0.051370 -0.613047  1.353834  1.650807 -1.535180

In [186]:
# Start by unstacking the dataframe
#print(df.unstack())

# Sort the unstacked dataframes
#print(df.unstack().sort_values())

# To obtain row/column indices and values, just get the row/column indices
# (Then we can use those to get the values)
#print(df.unstack().sort_values().index.tolist())
indices = df.unstack().sort_values(ascending=False).index.tolist()
#print(indices)

# Print the top 3 row, column, and data frame values
pprint([ (i, j, df[i][j]) for (i,j) in indices ][0:3])

## Get some help:
#print(type(indices))
#pprint(dir(indices))

## Get level values
#print(indices.levels)

[('b', 4, 2.1856526526206483),
 ('c', 8, 1.8736680451354295),
 ('a', 9, 1.774328013979708)]

**31.** Given a DataFrame with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals', replace any negative values in 'vals' with the group mean.

**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

Difficulty: *easy/medium*

pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

**33.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

**34.** Find the sum of the values in `s` for every Wednesday.

**35.** For each calendar month in `s`, find the mean of values.

**36.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

**37.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

## Cleaning Data

### Making a DataFrame easier to work with

Difficulty: *easy/medium*

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```
(It's some flight data I made up; it's not meant to be accurate in any way.)

**38.** Some values in the the FlightNumber column are missing. These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Fill in these missing numbers and make the column an integer column (instead of a float column).

**39.** The From\_To column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame with the correct values. Assign the correct column names to this temporary DataFrame.

**40.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

**41.** Delete the From_To column from `df` and attach the temporary DataFrame from the previous questions.

**42**. In the Airline column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

**43**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

The DataFrame should look much better now.

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

Difficulty: *medium*

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

**44**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

**45.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

## Minesweeper

### Generate the numbers for safe squares in a Minesweeper grid

Difficulty: *medium* to *hard*

If you've ever used an older version of Windows, there's a good chance you've played with [Minesweeper](https://en.wikipedia.org/wiki/Minesweeper_(video_game). If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid. 

(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

## Plotting

### Visualize trends and patterns in data

Difficulty: *medium*

To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

For starters, make a scatter plot of this random data, but use black X's instead of the default markers. 

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) if you get stuck!

**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

Now we're finally ready to create a candlestick chart, which is a very common tool used to analyze stock price data.  A candlestick chart shows the opening, closing, highest, and lowest price for a stock during a time window.  The color of the "candle" (the thick part of the bar) is green if the stock closed above its opening price, or red if below.

![Candlestick Example](img/candle.jpg)

This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [20]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))
    
    
    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** Generate a day's worth of random stock data, and aggregate / reformat it so that it has hourly summaries of the opening, highest, lowest, and closing prices

**60.** Now that you have your properly-formatted data, try to plot it yourself as a candlestick chart.  Use the ```plot_candlestick(df)``` function above, or matplotlib's [```plot``` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) if you get stuck.

*More exercises to follow soon...*